*.iml
**/*.log
.idea/*
**/.vscode/*
**/.yarn/*
**/.yarnrc.yml
**/build/*
**/coverage/*
**/dist/*
**/node_modules/*
**/temp/*
**/tmp/*
*.tsbuildinfo
*.tsimp
*.log
packages/siop-oid4vp/lib/schemas/validation/schemaValidation.js
packages/siop-oid4vp/lib/generator/*
!packages/siop-oid4vp/lib/generator/schemaGenerator.cts
/packages/siop-oid4vp/lib/schemas/validation/schemaValidation.cjs

.env
